{% extends "index.html" %}
  

          {% block name %}     
      <div class="container mt-5">
        <div class="row align-items-center bg-body-secondary p-4 p-md-5 mb-4 rounded text-body-emphasis" style="border-radius: 20px" >
          <div class="col-md-6 px-0"  >
            <h1 class="display-4 fst-italic">Media-Mate </h1>
            <p class="lead my-3">This <b>NLP-based media recommendation project</b> suggests movies, songs, and books using a combination of popularity-based, user-based, and collaborative filtering techniques. It analyzes user input, media descriptions, and reviews to recommend relevant content by identifying key features like genre and mood. Popularity-based filtering suggests the most widely appreciated content, user-based filtering personalizes recommendations based on individual preferences, and collaborative filtering finds patterns in similar users’ choices. The system delivers categorized recommendations through a Django interface, offering an engaging, data-driven experience for discovering media..</p>
            <p class="lead mb-0"><a href="/About" class="text-body-emphasis fw-bold">Learn More About Media-Mate...</a></p>
          </div>
          <div class="col-md-6 text-center">
            <img class="image"style="border-radius: 20px;" src="./seva.gif" class="img-fluid" alt="unable to load">
          </div>
        </div>
      </div>
      
                

  <div class="container" style="background-color: #e9ecef; border-radius: 10px; margin-top: 20px; ">
                      <p style="padding: 1rem;"><b>NOTE:-</b><br>Although Our model has achieved 100% accuracy, but it is trained on a dummy dataset, not real-world data due to <b>Privacy and Confidentiality </b>concerns. Therefore, please don't rely on it for health decisions. It's for learning purposes only. We will Surely Update Once we will get real-world data. <a href="">Know More</a></p>
                    </div>    
{% endblock name %} 


      


      